/* Colores Generales de la página - Modo Claro */
:root {
    --primary-color: #3498db; /* Fondo y colores principales*/
    --secondary-color: #2ecc71; /* Fondo y colores secundarios */
    --accent-color: #e74c3c; /* Color de acento */
    --decorative-color: #2a5d7f; /* Color decorativo */
    --black-color: #000000;
    --white-color: #ffffff;

    --background-color: #002161;
    --background-color-2: #fc7b0b;
    --background-color-3: #ffffff;
    --background-color-4: #b9d5f1;
    --background-color-5: #1546a7;
    --background-color-6: #2557ba;
    --background-color-7: #0338a3;

    --text-color-3: #000000;
    --text-hover-3: #e74c3c;

    --text-color-2: #1044ad;
    --text-hover-2: #3498db;

    --text-fields: #d5d6d5;

    --text-color-1: #ecf1ec;
    --text-hover-1: #fc7b0b;

    --text-font-1: 'Prompt', sans-serif;
    --text-font-2: 'Prompt', Roboto;
}

* {
    margin: 0;
    padding: 0;
}