/* Colores Generales de la pagina */
/* Usar solo los colores de esta seccion*/

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;

    --background-color: #002161;
    --background-color-2: #fc7b0b;
    --background-color-3: #ffffff;
    --background-color-4: #b9d5f1;

    --text-color-3: #000000;
    --text-hover-3: #e74c3c;

    --text-color-2: #1044ad;
    --tex-hover-2: #3498db;

    --text-fields: #d5d6d5;

    --text-color-1: #ecf1ec;
    --text-hover-1: #fc7b0b;

    --text-font-1: 'Prompt', sans-serif;
    --text-font-2: 'Prompt', Roboto;
}

* {
    margin: 0;
    padding: 0;
}